<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.profileImg}}" style="width: 64px; height: 64px">
    <h1>{{chat.name}}</h1>
    <h3>{{chat.tags}}</h3>
    <p>
      {{chat.bio}}
    </p>
    <div id="map-detail"></div>
  </ion-content>
</ion-view>


<!-- this is a test comment -->
