<ion-view view-title="Advanced Search">
  <ion-content>
    <h1>ADVANCED SEARCH</h1>
    <input type="text" name="name" value="Truck Name">
    <button class="button button-large" type="button" name="button">Sandwiches</button>
    <button class="button button-large" type="button" name="button">BBQ</button>
    <button class="button button-large" type="button" name="button">Seafood</button>
    <button class="button button-large" type="button" name="button">Pizza</button>
    <button class="button button-large" type="button" name="button">Coffee</button>
    <button class="button button-large" type="button" name="button">Ice Cream</button>
    <button class="button button-large" type="button" name="button">Tacos</button>
    <button class="button button-large" type="button" name="button">Salads</button>
    <button class="button button-large" type="button" name="button">Stir Fry</button>
    <button class="button button-large" type="button" name="button">Breakfast</button>
    <button class="button button-large" type="button" name="button">Juice & Smoothies</button>
  </ion-content>
</ion-view>
