<!--
  This template loads for the 'tab.detailview' state (app.js)
  'truck' is a $scope variable created in the ListviewCtrl controller (controllers.js)
  The ListviewCtrl pulls data from the TruckService(service.js)
  The TruckService returns an array of vendor data
-->
<ion-view view-title="{{truck.name}}">
  <ion-content class="padding">
    <img ng-src="{{truck.profileImg}}" style="width: 64px; height: 64px">
    <h1>{{truck.name}}</h1>
    <h3>{{truck.tags}}</h3>
    <p>
      {{truck.bio}}
    </p>
    <div id="map-detail"></div>
  </ion-content>
</ion-view>
