<ion-view view-title="Home List">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="truck in trucks" type="item-text-wrap" href="#/tab/list/{{truck.id}}">
        <img ng-src="{{truck.profileImg}}">
        <h2>{{truck.name}}</h2>
        <p>{{truck.tags}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(truck)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <div class="button-bar" id="map-toggle">
      <a class="button" href="#/tab/home">Map</a>
      <a class="button">List</a>
    </div>
  </ion-content>
</ion-view>
