<ion-view view-title="{{truck.name}}">
  <ion-content class="padding">
    <div id="detailview">
      <div id="detail-header">
        <img ng-src="{{truck.profileImg}}">
        <h3>{{truck.vendorName}}</h3>
        <label ng-click="addFavoriteTruck(truck.id, heart)" ng-class="{'heart ion-ios-heart': heart,'ion-ios-heart-outline': !heart}" class="detail-heart">
          <input ng-model="heart" style="display:none;" type="checkbox">
        </label>
        <h4><span class="tag-span" ng-repeat="tag in truck.tags">{{ tag }} </span></h4>
      </div>
      <p>
        {{truck.bio}}
      </p>
      <div id="map-detail"></div>
      <div ng-show="hasContent()" class="card">
        <div class="item item-text-wrap">
          <h4>{{ truck.location.timestamp }}</h4>
          <h3 ng-show="{{ truck.location.tweet }}">{{ truck.location.tweet }}</h3>
          <img ng-show="{{ truck.location.imageUrl }}" ng-src="{{ truck.location.imageUrl }}">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
