<ion-view view-title="Favorites List">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="truck in trucks" type="item-text-wrap">
        <a ng-href="#/tab/fav-list/{{truck.id}}">
          <img class="search-img" ng-src="{{truck.profilePictureLocation}}">
        <h2>{{truck.vendorName}}</h2>
        <p><span class="tag-span" ng-repeat="tag in truck.tags">{{ tag }} </span></p>
      </a>
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
        <label ng-click="removeFavoriteTruck(truck.id)" ng-class="{'ion-ios-heart-outline': heart,'heart ion-ios-heart': !heart}" class="icon">
          <input ng-model="heart" style="display:none;" type="checkbox">
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
