<!--
  This template loads for the 'tab.detailview' state (app.js)
  'truck' is a $scope variable created in the ListviewCtrl controller (controllers.js)
  The ListviewCtrl pulls data from the TruckService(service.js)
  The TruckService returns an array of vendor data
-->
<ion-view view-title="{{truck.name}}">
  <ion-content class="padding">
    <div id="detailview">
      <div id="detail-header">
        <img ng-src="{{truck.profileImg}}">
        <h3>{{truck.name}}</h3>
        <h4><span class="tag-span" ng-repeat="tag in truck.tags">{{ tag }} </span></h4>
      </div>
      <p>
        {{truck.bio}}
      </p>
      <div id="map-detail"></div>
      <div class="card">
        <div class="item item-text-wrap">
          <h4>Friday, April 8</h4>
          <h3>We got shrimp poboys today. Get em while they last!</h3>
          <img ng-src="{{truck.profileImg}}">
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>
